.profile-first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.profile-first-entry .profile-entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.profile-first-entry .profile-entry-header h1 {
    font-size: 34px;
    line-height: 1.profile-3;
}

.profile-first-entry .profile-entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.profile-first-entry .profile-entry-footer {
    font-size: 14px;
}

.profile-home-info .profile-entry-content {
    -webkit-line-clamp: unset;
}

.profile-post-entry {
    text-align: left;
    position: relative;
    margin-bottom: var(--gap);
    padding: 7px 10px;
    margin-bottom: 7px;
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.profile-1s;
    border: 1px solid var(--border);
}

.profile-post-entry:active {
    transform: scale(0.profile-96);
}

.profile-tag-entry .profile-entry-cover {
    display: none;
}

.profile-entry-header h2 {
    font-size: 24px;
    line-height: 1.profile-3;
}

.profile-entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.profile-6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.profile-entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-entry-cover,
.profile-entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.profile-entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
}

.profile-entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 40%;
    height: 30%;
}

.profile-entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}

#recent-posts h1 {
    text-align: left;
}